
.notification
	width 2.3rem
	height 2.4rem
	display flex
	align-items flex-end
	margin-top 0.5rem

.notification__icon
	cursor pointer
	background none
	border none
	outline none
	padding 0

.notification__icon
	width 2.1rem
	height 2.3rem
	transition color .3s
	color $notificationIconColor
	&:hover
	&:focus
		color $defaultIconHoverColor
		+tablet()
			color $navigationIconDesktopHover
	&._no
		width 1.9rem
		height 2.1rem
	svg
		display block
		width 100%
		height 100%