.message-items-desktop
	display flex

.message-items-desktop__body
	width 100%
	padding 0 2rem 2rem 3.5rem
	position relative
	overflow-y auto

.message-items-desktop__not-message
	width 100%
	height 100%
	display flex
	justify-content center
	align-items center
	font-size 2.8rem
	color rgba(#2F3341, .3)
	
.message-item-desktop
	width 100%
	transition opacity .3s
	cursor pointer
	color #2F3341
	border-bottom 1px solid #F1F1F3
	border-left 3px solid #fff
	background #fff
	transition background .3s, border-left-color .3s
	&:hover
	&._open
		border-left-color rgba(#424550, .5)
		background #FAFAFB
		.message-item-desktop__date
			display none
		.message-item-desktop-btn
			display block
		.message-item-desktop__header-wrap
			width calc(100% - 11.4rem)

.message-item-desktop__header-wrap
	display flex
	flex-direction column
	justify-content center
	width calc(100% - 6.4rem)
	padding-right 1.6rem
	
.message-item-desktop__header
	display flex
	height 8rem
	.message-items-desktop__body &
		border-bottom 1px solid #F1F1F3

.message-item-desktop__header-head
	display flex
	justify-content space-between
	align-items center

.message-item-desktop__owner-img
	width 6.4rem
	min-width 6.4rem
	display flex
	justify-content center
	align-items center
	img
		max-width 100%
	.message-items-desktop__body &
		width 4.4rem
		min-width 4.4rem
		justify-content flex-start
		
.message-item-desktop__owner
	font-size 1.5rem
	font-weight 600

.message-item-desktop__date
	font-size 1.3rem
	.message-items-desktop__body &
		font-size 1.5rem
	
.message-item-desktop__title
	white-space nowrap
	overflow hidden
	text-overflow ellipsis
	._open &
			width 70%
			
.message-item-desktop__body
	padding 0 1.6rem 2rem
	display none
	._open &
		display block

.message-item-desktop__body-title
	font-size 1.8rem

.message-item-desktop__body-desc
	font-size 1.4rem

.message-item-desktop__btn-wrap
	display flex
	justify-content flex-end

.message-items-desktop__sidebar
	width 30%
	min-width 30rem
	border-right 1px solid #F1F1F3
	height calc(100vh - 26rem)
	overflow-y auto

.message-item-desktop-btn
	width 5rem
	min-width 5rem
	height 100%
	background-image url('../assets/img/trash.svg')
	background-repeat no-repeat
	background-position center
	display none
	&:hover
		opacity .7
	
.message-items-desktop__content-title
	font-size 2.2rem
	margin 2.2rem 0

.message-items-desktop__content-desc
	font-size 1.5rem

.message-items-desktop__btn-wrap
	position absolute
	bottom 0
	left 0
	width 100%
	padding 3.8rem
	display flex
	justify-content flex-end