
.sale-component
	padding-top 2rem

.sale-component__input-wrap
	position relative
	height 7rem
	display flex
	align-items flex-end
	margin-bottom 1rem
	font-size 1.8rem
	&._sum
		height 8.5rem
	
.sale-component__input__title
	transition: transform .3s, font-size .3s
	z-index 1
	font-size 1.8rem
	transform translateY(0)
	position absolute
	bottom .8rem
	width 100%
	left 1.1rem
	
.sale-component__input
	border none
	border-radius 0
	outline none
	font-size 1.8rem
	border-bottom .2rem solid #E9E9F0
	background rgba(#fff, 0)
	padding-bottom .8rem
	z-index 2
	&:hover
		border-color #E9E9F0
		box-shadow none
		
	&:focus
	&:active
	&._active
		border-color #E9E9F0
		box-shadow none
		~.sale-component__input__title
			font-size 1.3rem
			transform translateY(-2.8rem)
	
.sale-component__input._sum
	font-size 4.8rem
	height 5rem
	~.sale-component__input__title
		font-size 1.3rem
		transform translateY(-4.3rem)
	
.sale-component__radio
	font-size 1.8rem
	margin-bottom 2rem
	&._online
		margin-bottom 0
	.ant-radio-inner
		width 2.6rem
		height 2.6rem
		border-color #8ACB3D !important
	
	.ant-radio:hover .ant-radio-inner
		border-color #8ACB3D
	
	.ant-radio-inner::after
		background-color #8ACB3D
		width 1.2rem
		height 1.2rem
		top .6rem
		left .6rem

.sale-component__peyment-types 
	margin-top 3rem
	.ant-radio-group
		display flex
		flex-direction column

.sale-component__btn-wrap
	display flex
	justify-content center
	margin 4.7rem 0 3rem

.sale-component__type-desc
	padding-left 3.6rem
	margin-bottom 2rem