.home
	padding 2.4rem 3.2rem
	font-size 1.5rem
	
.home .page__title
	display none
	+tablet()
		display block
		
.home__title
	text-align center
	margin-bottom .2rem
	+tablet()
		text-align left

.home__btn
	width 100%
	margin 0 auto
	display block
	+tablet()
		margin 0

.home__sum
	text-align center
	margin-bottom 2.1rem
	+tablet()
		margin-bottom 0
		text-align left

.home__section
	margin-bottom 4.7rem
	+tablet()
		display flex
		justify-content space-between
		border-bottom 1px solid rgba(#424550, .5)
		padding 3.1rem -0px
		margin-bottom 0
		flex-wrap wrap

.ant-collapse-item.home__collapse
	border-bottom none
	margin-top 2rem
	.ant-collapse-header
	.ant-collapse-content-box
		padding 0
	
	.ant-collapse-header
		color #3B86FF
		font-size 1.6rem
		margin-bottom .9rem
		user-select none
	
	.ant-collapse-arrow
		right auto !important
		left 10rem !important
		top 50% !important
		font-size 1.2rem !important

	.ant-collapse-content-box
		font-size 1.5rem

.home__collapse-sum
	padding-right 2rem

.home__debt-text
	margin-bottom 2rem


.home__section-wrap._btn
	+tablet()
		width 39%
		padding-top 3rem
		display flex
		justify-content flex-end
		align-items center
	