
.invoice-item
	display flex
	justify-content flex-start
	padding 1.6rem 0
	width 100%
	border-bottom 1px solid #F1F1F3
	cursor pointer
	&:last-of-type
		border-bottom none
	+tablet()
		&:hover
			background #eee
		

.invoice-item__content
	width 100%
	+tablet()
		display none
		
.invoice-item__desc
	font-size 1.5rem
	font-weight 600
	text-overflow ellipsis
	white-space nowrap
	overflow hidden
	max-width calc(100vw - 12rem)

.invoice-item__content-desktop
	display none
	width 100%
	padding-right 1.5rem
	+tablet()
		display block
	
	.invoice-item__desc
		font-size 1.5rem
		font-weight 400
		white-space normal
		padding-right 2rem
		
	.invoice-item__sum
		min-width 15rem
		display flex
		justify-content flex-end
		padding-right 1rem
		

.invoice-item__header
	display flex
	justify-content space-between
	align-items center
	padding-right 1.6rem

.invoice-item__body
	display flex
	justify-content space-between
	align-items center
	width 100%
	
.invoice-item__status
	display block
	min-width 5.5rem
	background-repeat no-repeat
	background-size 2.1rem 2.1rem
	background-position center 0.2rem
	&._wait
		background-image url('../assets/img/processing-invoice.svg')
	&._delete
		background-image url('../assets/img/delete-invoice.svg')
	&._success
		background-image url('../assets/img/check-invoice.svg')

.invoice-item__repeat-mobile
	background-repeat no-repeat
	background-size 100%
	background-position center
	min-width 5.5rem
	width 5.5rem
	height 5rem
	background-repeat no-repeat
	background-size 2.2rem 2.2rem
	background-position center
	background-image url('../assets/img/repeat-green.svg')
	background-color #fff
	border none
	outline none
	cursor pointer
	&:hover
	&:focus
		// opacity .7
	
	+tablet()
		display none

.invoice-item__repeat
	display none
	border 1px solid #8acb3d
	&:hover
	&:focus
	&:active
		background #8acb3d
		border 1px solid #8acb3d
		color #fff
	+tablet()
		display inline-block

.invoice-item__date
	color #3B86FF
	font-size 1.3rem

.invoice-item__sum
	font-size 1.8rem
	font-weight 600

.invoice-item__name
	font-size 1.5rem

.invoice-item__text
	width 100%