
// UI kit 
// https://xd.adobe.com/view/d9fc6a8a-fc02-4ebb-54ab-28578bf4cc62-afcd/screen/ab2cb365-463a-4b8f-98b7-642539864bb5/UI-Elements-Buttons

button.ant-btn
	&._default
		background-color #8ACB3D
		outline none
		border none
		height 5rem
		font-size 1.8rem
		box-shadow 0 .2rem 0 rgba(0, 0, 0, 0.045)
		transition none
		padding 0 1.5rem
		border-radius .4rem
		max-width 35rem
		&:hover
		&:focus
			background-color #79B82C
		&[disabled]
			background-color #B8E681
			color #fff

button.ant-btn
	&._black
		background-color rgba(#fff, .00001)
		outline none
		border none
		font-size 1.4rem
		box-shadow 0 .2rem 0 rgba(0, 0, 0, 0.045)
		transition none
		padding 0 1.5rem
		border-radius .4rem
		max-width 35rem
		border 1px solid #424550
		color #424550
		&:hover
		&:focus
			background-color #424550
			color #fff
		&[disabled]
			background-color ccc
			color #000
			
button.ant-btn
	&._light-green
		background-color rgba(#fff, .00001)
		outline none
		border none
		font-size 1.4rem
		box-shadow 0 .2rem 0 rgba(0, 0, 0, 0.045)
		transition none
		padding 0 1.5rem
		border-radius .4rem
		max-width 35rem
		border 1px solid #8ACC3D
		color #424550
		&:hover
		&:focus
			background-color #79B82C
			color #fff
		&[disabled]
			background-color #B8E681
			color #fff