.ant-tabs
	font-size $baseFont

.ant-tabs-tab
	color rgba(#2F3341, .5)
	font-size 1.38rem
	margin 0 3.2rem 0 0
	padding 1.2rem 1.6rem
	&-active
	&:hover
		color #000 !important
		
.ant-tabs-ink-bar
	background #8ACB3D
	margin-bottom -1px

.ant-tabs-nav-wrap
	background #FAFAFB
	border-top 1px solid #F1F1F3
	border-bottom 1px solid #F1F1F3
	margin-bottom 0
	
.ant-tabs-top-bar
	margin-bottom 0