
.navigation
	position fixed
	top 7rem
	left 0
	width 100%
	height calc(100vh - 7rem)
	background $navigationBg
	border-top 1px solid rgba(#fff, .1)
	overflow auto
	transition transform .3s
	z-index 9999
	+tablet()
		min-width 26rem
		width 26rem
		position static
		border-top none
		overflow hidden
		box-shadow 0 .2rem .6rem #0000000A
		transform translate(-20.1rem, 0)
		min-height 100vh
		height auto
		z-index 10
	+desktop()
		transform translate(0, 0)
	&._hide
		display none
		+tablet()
			display block
			transform translate(0, 0)
		+desktop()
			width 26rem
			min-width 26rem
			// transform translate(-20.1rem, 0)
			
.navigation__wrap
	+tablet()
		width 26rem
		
.navigation__header
	height 5.3rem
	background $navigationHeaderBg
	display flex
	justify-content space-between
	align-items center
	+tablet()
		height 7rem
		border-top 1px solid rgba(#fff, .1)
	+desktop()
		border-top none

.navigation__user-wrap
	padding-left 1.4rem	
	+tablet()
		padding-left 1.1rem

.navigation__user-name
	color #fff
	font-size 1.5rem
	&:hover
		text-decoration underline
		color #fff
		
.navigation__user-image
	margin-right 2rem
	width 3.8rem
	height 3.8rem
	border-radius 50%
	+tablet()
		margin-right 1.3rem

.navigation__logout
	width 5.7rem
	height 4.2rem
	display flex
	justify-content center
	align-items center

.navigation__logout-icon
	width 2.2rem
	height 2.2rem
	display block
	color $defaultIconColor
	transition color .3s
	background none
	border none
	outline none
	padding 0
	cursor pointer

	.navigation__logout:hover &
	.navigation__logout:focus &
		color $defaultIconHoverColor
	&:hover
	&:focus
		color $defaultIconHoverColor
	svg
		width 100%
		height 100%
		display block
		
.navigation__item
	display flex
	justify-content flex-start
	align-items center
	width 100%
	height 5.3rem
	color #fff
	cursor pointer
	&:hover
	&:focus
	&._active
		background $navigationHoverBg
		color #fff
	
	&._external
		&:hover
			background $navigationHoverBg
			color #fff
		&:focus
		&:active
			background none
			
.navigation__icon-wrap
	width 6.2rem
	height 2rem
	display flex
	justify-content center
	align-items center

.navigation__item-icon
	width 2.3rem
	height 2.3rem
	color $navigationIcon
	transition color .3s
	display inline-block
	.navigation__item:hover &
	.navigation__item:focus &
		color $defaultIconHoverColor
	
	.navigation__item._active &
		color $defaultIconActiveColor
	
	svg
		width 100%
		height 100%
		display block
		
	&._nalog
		width 2.3rem
		height 2.3rem
	
	&._rub
		width 1.4rem
		height 2rem
	
	&._invoice
		width 1.8rem
		height 2.1rem
	
	&._message
		width 2.3rem
		height 1.5rem
		
	&._wallet
		width 2rem
		height 2rem
	
.navigation__hamburger
	height 7rem
	background $navigationHeaderBg
	display none
	+tablet()
		display block
	+desktop()
		display none