.invoice-modal
	font-size 1.6rem
	top 7rem
	display flex
	+tablet()
		padding-right 5.8rem
		top 0
	+desktop()
		padding-right 26rem

.invoice-modal .ant-modal
	top 0
	padding-bottom 0
	width 100% !important
	max-width 100%
	margin-top 0
	height calc(100vh - 7rem)
	border-radius .5rem
	transition height .3s, width .3s
	overflow hidden

	+tablet()
		margin 0 auto
		width 44.3rem !important
		height 62rem
		max-width calc(100% - 1.6rem)
		@media (min-height: 700px)
			top calc( 50% - 35rem)
		
	@media (min-width: 850px)
		height auto
		
.invoice-modal._show-receipt .ant-modal
	height 108.5rem !important
	@media (min-width: 850px)
		width 76rem !important
		height auto

.invoice-modal .ant-modal-close
	display none
	+tablet()
		display block

.invoice-modal__receipt
	width 100%
	height 40rem
	background #F8F8F8
	display block
	margin-top 8rem
	._show-receipt &
		display block
		margin-top 0
	+tablet()
		margin-top 0
	@media (min-width: 850px)
		width 40%
		height auto

.invoice-modal__content
	display flex
	font-size 1.5rem
	overflow hidden
	flex-direction column
	@media (min-width: 850px)
		flex-direction row
		min-width 70rem

.invoice-modal__body
	width 100%
	display flex
	@media (min-width: 850px)
		width 60%
	

.invoice-modal__body-wrap
	margin 0 auto

.invoice-modal__title
	font-size 2.8rem
	color #2F3341
	margin-bottom 5rem

.invoice-modal__meta-text
	margin-bottom 1rem

.invoice-modal__btn-wrap
	margin-bottom 1.7rem

.invoice-modal__show-receipt
	margin 4.1rem 0 2.1rem
	display flex
	align-items center
	justify-content center
	font-size 1.4rem
	cursor pointer

.invoice-modal__eye
	margin-right 1rem

.invoice-modal__sum
	margin-top 2rem
	margin-bottom 3rem

.invoice-modal__btn
	height 5rem
	width 100%