
.header
	background $headerBgMobile
	height 7rem
	padding 0 0 0 2rem
	display flex
	justify-content space-between
	align-items center
	position fixed
	top 0
	left 0
	width 100%
	z-index 9999
	+tablet()
		position static
		background $headerBgDesktop
		justify-content flex-start
		z-index 10
	
.header__logo
	font-size 1.4rem
	font-weight 600
	line-height 1.9rem
	color #fff
	text-transform uppercase
	position relative
	padding-left 6.2rem
	+tablet()
		color #2F3341
		padding-right 4rem
		margin-right 3.2rem
		border-right 1px solid #EBEBF2
		
	&::before
		content ''
		display inline-block
		position absolute
		top 0
		left 0
		width 4.2rem
		height 3.6rem
		background url('../assets/img/w1-white.svg') no-repeat 100% / 100%
		+tablet()
			background url('../assets/img/w1-3.svg') no-repeat 100% / 100%
			
		
.header__right-panel
	display flex
	align-items center
	justify-content space-between
	+tablet()
		width 100%
		z-index 11