@import 'variable'
@import '/helpers/@media-query'
@import '/helpers/scrollbar'

scrollbar()

html
	margin 0
	padding 0
	font-size 10px
	&.mobile
		font-size calc((100vw / 414) * 10)
		@media(orientation: landscape)
			font-size calc(10px - (100vw - 100vh) / 100)
	@media (min-width: 1920px) 
		font-size calc((100vw / 1920) * 10)
	@media (min-aspect-ratio: 20/9)
		font-size 10px

body
	font-size 1.6rem
	font-family $baseFont

html
body
	height auto
	min-height 100%	
*
	box-sizing: border-box

//modules
@import './modules/page'
@import './modules/footer'
@import './modules/button'
@import './modules/snippet'
@import './modules/typography'
@import './modules/tabs'

// components
@import '../components/Header/Header'
@import '../components/Navigation/Navigation'
@import '../components/Hamburger/Hamburger'
@import '../components/Notification/Notification'
@import '../components/InvoiceItem/InvoiceItem'
@import '../components/MessageItemsMobile/MessageItemsMobile'
@import '../components/MessageItemsDesktop/MessageItemsDesktop'
@import '../components/SaleComponent/SaleComponent'
@import '../components/InvoiceModal/InvoiceModal'

//layouts
@import '../layouts/Main/Main'
@import '../layouts/Login/Login'

//pages
@import '../pages/Home/Home'
@import '../pages/Invoices/Invoices'
@import '../pages/Messages/Messages'
@import '../pages/Account/Account'

