
.login-page
	height 100vh
	padding 0
	background url('../assets/img/bg-login.png') no-repeat calc(50% - 10rem) calc(50% + -2rem) / 124rem
	@media(orientation: landscape)
		background url('../assets/img/bg-login.png') no-repeat calc(50% - 4rem) calc(50% + -2rem)/132rem;
	+tablet()
		background url('../assets/img/bg-login.png') no-repeat center
		

.login-page__logo
	font-size 1.4rem
	font-weight 600
	line-height 1.9rem
	color #fff
	text-transform uppercase
	position relative
	padding-left 6.2rem
		
	&::before
		content ''
		display inline-block
		position absolute
		top 0
		left 0
		width 4.2rem
		height 3.6rem
		background url('../assets/img/w1-white.svg') no-repeat 100% / 100%

.login-page__header
	padding 2.4rem 2.7rem

.login-page__auth
	color #fff
	width 27.8rem
	height 27.8rem
	box-shadow 0px .3rem .3rem #00000029
	border 1px solid #FFFFFF33
	border-radius .4rem
	backdrop-filter blur(.8rem)
	-webkit-backdrop-filter blur(.8rem)
	display flex
	flex-direction column
	justify-content space-between
	text-align center
	margin calc(50vh - 7.6rem) auto 0
	position relative
	&._login
		justify-content center
		align-items center
	@media(orientation: landscape)
		margin calc(50vh - 18rem) auto 0
	+tablet()
		margin calc(50vh - 22.6rem) auto 0
	

.login-page__auth-btn
	background #8ACB3D
	border-radius 0px 0px .4rem .4rem
	width 100%
	height 5rem
	border none
	outline none
	cursor: pointer
	font-size 1.8rem
	color #fff
	line-height 4.3rem
	&:hover
		background darken(#8ACB3D, 15%)
		color #fff

.login-page__auth-title
	font-size 2rem
	margin-top 1.6rem

.login-page__auth-desc
	font-size 2rem
	font-weight 600

.login-page__load-text
	font-size 2rem
	margin-bottom 2rem