.main
	display flex
	justify-content space-between
	background #f5f5f7
	overflow-x hidden
	padding-top 7rem
	+tablet()
		padding-top 0
	
.main__content
	width 100%
	+tablet()
		width calc(100% - 5.8rem)
		min-width calc(100% - 5.8rem)
	+desktop()
		width calc(100% - 26rem)
		min-width calc(100% - 26rem)

.sale__modal
	font-size 1.6rem
	top 7rem
	+tablet()
		padding-right 5.8rem
		top 0
	+desktop()
		padding-right 26rem

.sale__modal .ant-modal
	top 0
	padding-bottom 0
	width 100% !important
	max-width 100%
	margin-top 0
	@media (min-height: 700px)
		top calc( 50% - 35rem)
	+tablet()
		margin 0 auto
		width 52rem !important
		max-width calc(100% - 1.6rem)
		
.sale__modal .ant-modal-close
	display none
	+tablet()
		display block

.sale__title
	font-size 2.8rem
	text-align center
	margin-top 0rem
	