.message-item
	width 100%
	transition opacity .3s
	opacity .5
	cursor pointer
	color #2F3341
	border-bottom 1px solid #F1F1F3
	&:hover
	&._open
		opacity 1

.message-item__header-wrap
	display flex
	flex-direction column
	justify-content center
	width 100%
	padding-right 1.6rem
	
.message-item__header
	display flex
	height 8rem

.message-item__header-head
	display flex
	justify-content space-between
	align-items center

.message-item__owner-img
	width 6.4rem
	display flex
	justify-content center
	align-items center

.message-item__owner
	font-size 1.5rem
	font-weight 600

.message-item__date
	font-size 1.3rem
	
.message-item__title
	._open &
			display none
			
.message-item__body
	padding 0 1.6rem 2rem
	display none
	._open &
		display block

.message-item__body-title
	font-size 1.8rem

.message-item__body-desc
	font-size 1.4rem

.message-item__btn-wrap
	display flex
	justify-content flex-end
