.invoce
	padding 1.2rem 0 2rem
	+tablet()
		padding 1px 1.6rem 2rem
		
	.page__title
		margin 2.5rem 0 3rem
	
	.page__container
		padding 0
		
.invoce__date-wrap
	background #fff
	display flex
	justify-content flex-start
	margin 2rem auto
	.mobile &
		justify-content center
		
	+tablet()
		padding 1rem
		height 8rem

.invoce__date
	width 50%
	.mobile &
		width auto
	
.invoce__search
	display none

.invoce__date-btn
	background none
	border none
	outline none
	outline none
	display flex
	align-items center
	+tablet()
		width 100%

.invoce__date-icon
	display inline-block
	width 6rem
	height 6rem
	min-width 6rem
	min-height 6rem
	border-radius 50%
	background-color #8ACB3D
	background-image url('../assets/img/calendar.svg')
	background-repeat no-repeat
	background-position center
	.mobile &
		display none

.invoce__datepicker
	.ant-calendar-picker-input
		border none
		font-size 1.8rem
		font-family 'Open Sans', sans-serif
	
	.ant-calendar-picker-icon
		display none
	

.invoce__date-picker-block
	display flex
	width 100%
	.mobile &
		display none
		
	.ant-calendar-picker
		width 30rem
		transform: translateX(-3rem);
		
	.ant-calendar-picker-input
		padding-right 0
		font-size 1.8rem
		font-family 'Open Sans', sans-serif
		background none
		&:focus
			box-shadow none
			
.invoce__date-picker-mobile
	position relative
	font-size 1.8rem
	display flex
	display none
	.mobile &
		display flex

	.ios.mobile &
		width auto

.invoce__date-picker-input
	background #fafafb
	border 1px solid #f1f1f3

.invoce__date-separator
	font-size 2.2rem
	padding 0 1rem
