.account
	color #2F3341
	padding 0
	+tablet()
		padding 1px 1.6rem 2rem
		
	.page__title
		margin 2.5rem 0 3rem
		display none
		+tablet()
			display block

	
.account__use-image
	width 6.3rem
	height 6.3rem
	margin-right 1.7rem
	+tablet()
		margin-right 0
		margin-bottom 1.4rem

.account__user-name
    font-size 1.8rem
    font-weight 600

.account__grey-text
	font-size 1.5rem
	color #2F3341
	+tablet()
		color rgba(#2F3341, .5)
		font-size 1.8rem
	
	&._status
		display none
		+tablet()
			display block
	
.account__block-title
	font-size 2.2rem
	margin-bottom 2rem

.account__block
	border-bottom 1px solid rgba(#424550, .3)
	padding 2.2rem 3.2rem 3.3rem
	&:last-of-type
		border-bottom none

.account__user-name-wrap
	+tablet()
		text-align center

.account__block._head
	display flex
	align-items center
	+tablet()
		flex-direction column
	
.account__item
	margin-bottom 2rem
	display flex
	justify-content space-between
	+tablet()
		justify-content flex-start

.account__user-status-value
	color #8ACB3D
	font-size 1.8rem
	font-weight 600

.account__item-value
	font-weight 600
	font-size 1.6rem

.account__value-wrap
	display flex
	flex-direction column
	text-align right
	+tablet()
		flex-direction row
		text-align left
	
.account__item-action
	color #E35F50
	font-size 1.5rem
	display inline-block
	&::before
		content '-'
		display inline-block
		width 1.5rem
		height 1.5rem
		margin-right .5rem
	&._copy
		cursor pointer
		color #3B86FF
		&::before
			content ''
			display inline-block
			width 1.5rem
			height 1.5rem
			background-image url('../assets/img/copy.svg')
			background-size 100%
			background-repeat no-repeat
			background-position center
			margin-right .5rem
	&._active
		color #79B82C
		&::before
			content ''
			display inline-block
			width 1.6rem
			height 1.2rem
			background-image url('../assets/img/approve.svg')
			background-size 90%
			background-repeat no-repeat
			background-position center
			margin-right .5rem

.account__link
	display block
	margin-bottom 1.8rem
	height 1.9rem
	display flex
	align-items center
	&._guide
		&:before
			content ''
			display inline-block
			width 3.6rem
			height 3.6rem
			background-image url('../assets/img/manual.svg')
			background-size 90%
			background-repeat no-repeat
			background-position center
			margin-right .5rem
			transform translateY(-.1rem)
	&._fns
		&:before
			content ''
			display inline-block
			width 2.6rem
			height 2.6rem
			background-image url('../assets/img/FNS.svg')
			background-size 90%
			background-repeat no-repeat
			background-position center
			transform translateY(-.1rem)
			margin-left 0.5rem
			margin-right 1rem
	&._lock
		&:before
			content ''
			display inline-block
			width 3.6rem
			height 3.6rem
			background-image url('../assets/img/lock.svg')
			background-size 90%
			background-repeat no-repeat
			background-position center
			margin-right .5rem
			transform translateY(-.1rem)

.account__link-wrap
	margin-bottom 3rem

.account__grey-text
.account__item-value
.account__item-action
	+tablet()
		width 20rem
		